@page
@model OnlineExamination.Pages.LoginModel
@{
}
<div class="container d-flex justify-content-center align-items-center min-vh-90">

	@*                        Login Container                          *@

	<div class="row border rounded-5 p-3 bg-white shadow box-area">
		<label id="messageLabel" class="text-@Model.MessageColor text-center fs-6">@Model.Message</label>

		@*                        Left Box                                 *@
		<div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box">

			<div class="featured-image">
				<img src="/images/login3.jpg" class="img-fluid" style="width: 600px" />
			</div>

		</div>

		@*                        Right Box                                *@

		<div class="col-md-5 right-box">

			<form method="post">

				<div class="row align-items-center">

					<div class="header-text mb-4">
						<h4>Welcome Back</h4>
						<p class="fs-6"> We are happy to have you!</p>
					</div>

					<div class="input-group mb-3">
						<input type="text" class="form-control form-control-lg bg-light fs-6" name="Username" placeholder="Username" />
					</div>

					<div class="input-group mb-2">
						<input type="password" class="form-control form-control-lg bg-light fs-6" name="PasswordHash" placeholder="Password" />
					</div>

					<div class="input-group mb-3 d-flex justify-content-end">

						<div class="forgot">
							<small><a href="/ForgotPassword" style="text-decoration: none;">Forgot Password</a></small>
						</div>

					</div>

					<div class="input-group mb-3">
						<button class="btn btn-lg btn-primary w-100 fs-6">Login</button>
					</div>

					<div class="row">
						<small class="text-center">Don't have account? <a href="/Signup" style="text-decoration: none;">SignUp</a></small>
					</div>

				</div>

			</form>

		</div>

	</div>

</div>