@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
.sidebar {
    width: 250px;
    background-color: #ffffff;
    border-right: 2px solid var(--bs-primary);
}

.sidebar .nav-link {
        padding: 15px 20px;
        color: var(--bs-secondary); /* Default secondary color */
        font-size: 14px;
        transition: background-color 0.3s, color 0.3s;
}

.sidebar .nav-link:hover {
        background-color: rgba(0, 123, 255, 0.1);
        border-radius: 5px;
        color: var(--bs-primary); /* Highlighted on hover */
}

    .sidebar .nav-link.active {
        color: var(--bs-primary); /* Active link color */
        font-weight: bold;
        background-color: rgba(0, 123, 255, 0.2);
        border-radius: 5px;
    }

/* Main Content */
.main-content {
    margin-left: 20px;
    padding: 20px;
}

/* Cards and Table */
.card {
    border-radius: 10px;
}

.table {
    border-radius: 5px;
    overflow: hidden;
}
